<a href="https://colab.research.google.com/github/VishnuBhaarath/Gas_turbine_predictive_modelling/blob/main/Multi_task_elastic_net.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
from sklearn import linear_model
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import r2_score

In [3]:
df=pd.read_csv('/content/drive/MyDrive/gas_turbine/gt_2011-2015.csv')
df.head()

   Unnamed: 0      AT      AP      AH  ...     TEY     CDP       CO     NOX
0           0  4.5878  1018.7  83.675  ...  134.67  11.898  0.32663  81.952
1           1  4.2932  1018.3  84.235  ...  134.67  11.892  0.44784  82.377
2           2  3.9045  1018.4  84.858  ...  135.10  12.042  0.45144  83.776
3           3  3.7436  1018.3  85.434  ...  135.03  11.990  0.23107  82.505
4           4  3.7516  1017.8  85.182  ...  134.67  11.910  0.26747  82.028

[5 rows x 12 columns]

In [4]:
df=df.drop('Unnamed: 0',axis=1)

GTEP

In [5]:
dataset=df[['AT','AP','AH','TEY','AFDP','GTEP']]
dataset.head()

       AT      AP      AH     TEY    AFDP    GTEP
0  4.5878  1018.7  83.675  134.67  3.5758  23.979
1  4.2932  1018.3  84.235  134.67  3.5709  23.951
2  3.9045  1018.4  84.858  135.10  3.5828  23.990
3  3.7436  1018.3  85.434  135.03  3.5808  23.911
4  3.7516  1017.8  85.182  134.67  3.5781  23.917

In [6]:
train=dataset[0:21947]
test=dataset[21947:36733]

In [7]:
scaler = MinMaxScaler(feature_range=(0, 1))
scaled_train = scaler.fit_transform(train)
scaled_test=scaler.transform(test)

In [8]:
train_x=scaled_train[:,[0,1,2,3,4]]
train_y=scaled_train[:,[5]]
test_x=scaled_test[:,[0,1,2,3,4]]
test_y=scaled_test[:,[5]]

In [10]:
clf = linear_model.MultiTaskElasticNet(alpha=0.0001)
clf.fit(train_x, train_y)
y_pred=clf.predict(test_x)
arr1 = np.append(test_x, y_pred, axis=1)
inv_arr1 = scaler.inverse_transform(arr1)
iny_pred=inv_arr1[:,[5]]
arr2=np.append(test_x,test_y,axis=1)
inv_arr2=scaler.inverse_transform(arr2)
iny_test=inv_arr2[:,[5]]
print(r2_score(iny_test,iny_pred))

0.8840665384050449

TIT

In [11]:
dataset=df[['AT','AP','AH','TEY','AFDP','TIT']]
dataset.head()

       AT      AP      AH     TEY    AFDP     TIT
0  4.5878  1018.7  83.675  134.67  3.5758  1086.2
1  4.2932  1018.3  84.235  134.67  3.5709  1086.1
2  3.9045  1018.4  84.858  135.10  3.5828  1086.5
3  3.7436  1018.3  85.434  135.03  3.5808  1086.5
4  3.7516  1017.8  85.182  134.67  3.5781  1085.9

In [12]:
train=dataset[0:21947]
test=dataset[21947:36733]

scaler = MinMaxScaler(feature_range=(0, 1))
scaled_train = scaler.fit_transform(train)
scaled_test=scaler.transform(test)

train_x=scaled_train[:,[0,1,2,3,4]]
train_y=scaled_train[:,[5]]
test_x=scaled_test[:,[0,1,2,3,4]]
test_y=scaled_test[:,[5]]

clf = linear_model.MultiTaskElasticNet(alpha=0.0001)
clf.fit(train_x, train_y)

y_pred=clf.predict(test_x)

y_pred=y_pred.reshape(14786,1)
test_y=test_y.reshape(14786,1)
arr1 = np.append(test_x, y_pred, axis=1)
inv_arr1 = scaler.inverse_transform(arr1)
iny_pred=inv_arr1[:,[5]]
arr2=np.append(test_x,test_y,axis=1)
inv_arr2=scaler.inverse_transform(arr2)
iny_test=inv_arr2[:,[5]]
print(r2_score(iny_test,iny_pred))

0.8854606327745033

TAT

In [13]:
dataset=df[['AT','AP','AH','TEY','AFDP','TAT']]
dataset.head()

       AT      AP      AH     TEY    AFDP     TAT
0  4.5878  1018.7  83.675  134.67  3.5758  549.83
1  4.2932  1018.3  84.235  134.67  3.5709  550.05
2  3.9045  1018.4  84.858  135.10  3.5828  550.19
3  3.7436  1018.3  85.434  135.03  3.5808  550.17
4  3.7516  1017.8  85.182  134.67  3.5781  550.00

In [14]:
train=dataset[0:21947]
test=dataset[21947:36733]

scaler = MinMaxScaler(feature_range=(0, 1))
scaled_train = scaler.fit_transform(train)
scaled_test=scaler.transform(test)

train_x=scaled_train[:,[0,1,2,3,4]]
train_y=scaled_train[:,[5]]
test_x=scaled_test[:,[0,1,2,3,4]]
test_y=scaled_test[:,[5]]

clf = linear_model.MultiTaskElasticNet(alpha=0.0001)
clf.fit(train_x, train_y)

y_pred=clf.predict(test_x)

y_pred=y_pred.reshape(14786,1)
test_y=test_y.reshape(14786,1)
arr1 = np.append(test_x, y_pred, axis=1)
inv_arr1 = scaler.inverse_transform(arr1)
iny_pred=inv_arr1[:,[5]]
arr2=np.append(test_x,test_y,axis=1)
inv_arr2=scaler.inverse_transform(arr2)
iny_test=inv_arr2[:,[5]]
print(r2_score(iny_test,iny_pred))

0.390140913931444

CDP

In [15]:
dataset=df[['AT','AP','AH','TEY','AFDP','CDP']]
dataset.head()

       AT      AP      AH     TEY    AFDP     CDP
0  4.5878  1018.7  83.675  134.67  3.5758  11.898
1  4.2932  1018.3  84.235  134.67  3.5709  11.892
2  3.9045  1018.4  84.858  135.10  3.5828  12.042
3  3.7436  1018.3  85.434  135.03  3.5808  11.990
4  3.7516  1017.8  85.182  134.67  3.5781  11.910

In [16]:
train=dataset[0:21947]
test=dataset[21947:36733]

scaler = MinMaxScaler(feature_range=(0, 1))
scaled_train = scaler.fit_transform(train)
scaled_test=scaler.transform(test)

train_x=scaled_train[:,[0,1,2,3,4]]
train_y=scaled_train[:,[5]]
test_x=scaled_test[:,[0,1,2,3,4]]
test_y=scaled_test[:,[5]]

clf = linear_model.MultiTaskElasticNet(alpha=0.0001)
clf.fit(train_x, train_y)

y_pred=clf.predict(test_x)

y_pred=y_pred.reshape(14786,1)
test_y=test_y.reshape(14786,1)
arr1 = np.append(test_x, y_pred, axis=1)
inv_arr1 = scaler.inverse_transform(arr1)
iny_pred=inv_arr1[:,[5]]
arr2=np.append(test_x,test_y,axis=1)
inv_arr2=scaler.inverse_transform(arr2)
iny_test=inv_arr2[:,[5]]
print(r2_score(iny_test,iny_pred))

0.9903012281652259